# ===== Python / Backend =====
__pycache__/
*.py[cod]

# Virtual environment
venv/

# ===== Node / Frontend (React + Vite) =====
node_modules/
dist/
.env
.env.local
.env.*.local

# Logs
*.log

# Editor / IDE
.vscode/
.idea/
